.nav-back {
  height: 250px;
  background-color: black;
}

.head-img {
  margin-left: 37%;
  height: 120px;
  width: 350px;
}

.head-nav {
  text-align: center;
  color: #e4af3a;
  font-family: 'Lato', sans-serif;
}

.score {
  margin-right: 100px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #e4af3a;
  text-align: right;
}

.back {
  background-image: url('https://i.pinimg.com/originals/b2/2d/4a/b22d4ab71b3a4de452359a5a1ebd45ca.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
